/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media ( min-width : 768px) {
	.sidebar {
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		-ms-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
		-webkit-box-shadow: 10px 0px 5px -2px #333;
		-moz-box-shadow: 10px 0px 5px -2px #333;
		-mz-box-shadow: 10px 0px 5px -2px #333;
		-o-box-shadow: 10px 0px 5px -2px #333;
		box-shadow: 10px 0px 5px -2px #333;
		position: fixed;
		top: 51px;
		bottom: 0;
		left: -150px;
		z-index: 1000;
		display: block;
		padding: 0;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #428bca;
	}
	.sidebar.dynamic:hover {
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		-ms-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
		left: 0;
	}
	.sidebar.fixedpos {
		left: 0;
		position: static;
	}
	.icon-leftbar {
		position: absolute;
		top: 5px;
		right: -35px;
		font-size: 20px;
		color: #ff0000;
	}
}
.col-md-2 {
	width: 180px;
}
.glyphicon-menu-right {
	color: #fff;
	float: right;
}
.active .glyphicon-list-alt {
	color: #fff;
	font-weight: bold;
}
/* Sidebar navigation */
.sidebar.dynamic:hover .icon-leftbar{
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-o-opacity: 0;
	-ms-opacity: 0;
	opacity: 0;
}
.nav-sidebar {
	margin-bottom: 20px;
}

.nav-sidebar>li>a {
	font-weight: bold;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus {
	color: #fff;
	background-color: #428bca;
}
.nav-sidebar li:hover a {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	background: #428bca;
	color: #fff;
}
/*
 * Main content
 */
.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
	width: 100%;
	border-bottom: 1px solid #bbb;
}

.col-md-offset-2 {
	margin-left: 3.66666667%;
	width: 95%;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

body {
	font-family: Arial;
	font-size: 13px;
	color: #666;
}

.submit-area {
	display: block;
	margin-top: 10px;
	border: 1px solid #fff;
}

.clear {
	clear: both !important;
}