/*
@font-face {
  font-family: 'MyriadPro-Cond';
  src: url("../Fonts/MyriadPro-Cond.eot");
  src: url("../Fonts/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../Fonts/MyriadPro-Cond.woff") format("woff"), url("../Fonts/MyriadPro-Cond.ttf") format("truetype"), url("../Fonts/MyriadPro-Cond.svg#OfficinaSansITCStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../Fonts/MyriadPro-Regular.eot");
  src: url("../Fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../Fonts/MyriadPro-Regular.woff") format("woff"), url("../Fonts/MyriadPro-Regular.ttf") format("truetype"), url("../Fonts/MyriadPro-Regular.svg#OfficinaSansITCStdBookItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BauerBodoniBT-Italic';
  src: url("../Fonts/BauerBodoniBT-Italic.eot");
  src: url("../Fonts/BauerBodoniBT-Italic.eot?#iefix") format("embedded-opentype"), url("../Fonts/BauerBodoniBT-Italic.woff") format("woff"), url("../Fonts/BauerBodoniBT-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Calibri-Regular';
  src: url("../Fonts/Calibri_gdi.eot");
  src: url("../Fonts/Calibri_gdi.eot?#iefix") format("embedded-opentype"), url("../Fonts/Calibri_gdi.woff") format("woff"), url("../Fonts/Calibri_gdi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*/
