/**********Font************/
$mainFont: 'Calibri-Regular',Arial, Helvetica, sans-serif;


/**********color**************/
$whiteColor: #ffffff;
$greyColor : #AAAAAA;
$lightGreyColor: #dddddd;
$stickyHeader: #70706F;
$hoverColor: #515250;
$menuColor: #090909;
$ccColor: #cccccc;
$eeColor: #eeeeee;
$color3: #333333;
/**********button**************/
$greyColorBtn: #4d4d4c;
$blackColorBtn: #000000;
$teamColor: #C8C8C8;
$blueColor: #0c2d69;
$greenColor: #759e1a;
$redColor: #ff0000;
